{% set ruby = salt['grains.filter_by']({
    'Debian': {
        'dev': 'ruby-dev'
    },
    'RedHat': {
        'dev': 'ruby-devel'
    },
}, default='Debian'
, merge=salt['pillar.get']('ruby:lookup')) %}
