{% set server = salt['grains.filter_by']({
    'Debian': {
        'sshd': 'ssh'
    },
    'RedHat': {
        'sshd': 'sshd'
    },
}, default='Debian',
merge=salt['pillar.get']('networking:openssh:server:lookup')) %}
