{% set compilers = salt['grains.filter_by']({
    'Debian': {
        'gplusplus': 'g++'
    },
    'RedHat': {
        'gplusplus': 'gcc-c++',
    }
}, default='Debian',
merge=salt['pillar.get']('compilers:lookup')) %}
